.boxprice {
  width: 35%;
  height: 250px;
  border: 1px solid rgb(221, 221, 221);
  border-radius: 12px;
  box-shadow: rgb(0 0 0/ 12%) 0 6px 16px;
  padding: 24px;
}

.wrapper {
  display: grid;
  grid-template-columns:
    1fr
    min(65ch, 100%)
    1fr;
}
.wrapper > * {
  grid-column: 2;
}
.full-bleed {
  width: 100%;
  grid-column: 1 / 4;
}
